.container {
  margin: 0%;
  font-family: "Haffer SQ XH";
  padding: 0%;
  width: 100%;
}

@media screen and (max-width: 391px) {

}
@media screen and (min-width: 392px) and (max-width: 745px) {
}
@media screen and (min-width: 746px) and (max-width: 1025px) { 
}
@media screen and (min-width: 1026px) and (max-width: 1441px) {
 
}
@media screen and (min-width: 1442px) and (max-width: 1920px) {
 
}
