.container {
  margin: 0%;
  font-family: "Haffer SQ XH";
  padding: 0%;
  width: 100%;
}
.heading {
  background-color: rgba(4, 4, 4, 1);
  text-align: center;
  justify-content: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-left: 297px;
  padding-right: 297px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.text {
  font-size: 74px;
  font-size: 74px;
  font-weight: 400;
  /* line-height: 84px; */
  letter-spacing: -0.05em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}
.para {
  margin: 0;
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(163, 163, 163, 1);
}

.designSystem {
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
  height: 288px;
  margin-left: 290px;
  margin-right: 290px;
  margin-bottom: 0;
  padding: 0;
  max-width: 70%;
}
.line {
  border: 2px solid rgba(4, 4, 4, 1);
  width: 100%;
  text-align: center;
}
.heading2 {
  font-size: 48px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -0.05em;
}
.designContainer {
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5px;
}

.cardHighlighted {
  display: flex;
  width: 80px;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 10%;
  padding-right: 10%;
  border-left: 1px solid rgba(224, 224, 224, 1);
  border-right: 1px solid rgba(224, 224, 224, 1);
}
.heading3 {
  font-family: "Haffer SQ XH";
  font-size: 74px;
  font-weight: 400;
  line-height: 84px;
  letter-spacing: -0.05em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}
.crop_image {
  max-width: 70%;
  margin-right: 20px;
  transition: clip-path 0.5s ease;
}
.caraouselContainer {
  padding-top: 100px;
  padding-bottom: 200px;
  background-color: black;
}
.crop_image:hover {
  clip-path: none;
}
.border {
  border: 2px solid rgba(255, 255, 255, 1);
}
@media screen and (max-width: 1440px) {
  .container {
    margin: 0%;
    font-family: "Haffer SQ XH";
    padding: 0%;
    width: 100%;
  }
  .heading {
    padding-left: 190px;
    padding-right: 190px;
    padding-top: 100px;
    padding-bottom: 88px;
  }
  .text {
    font-size: 60px;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: -0.05em;
    text-align: center;
  }
  .para {
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
  }
}

@media only screen and (max-width: 1024px) {
  .text {
    font-size: 48px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -0.05em;
    text-align: center;
  }
  .para {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
  }
  .navbar {
    display: none; /* Hide navbar by default */
  }

  .navbar.show {
    display: block; /* Show navbar when showLinks is true */
  }
  .heading3 {
    font-size: 60px;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: -0.05em;
    text-align: center;
  }
  .heading2 {
    font-size: 32px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: -0.05em;
    text-align: center;
  }
  .card {
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
  }
  .designSystem {
    height: 228px;
    margin-left: 150px;
    margin-right: 102px;
    padding: 2%;
  }
  .cardHighlighted {
    font-size: 20px;
    font-weight: 300;
    text-align: left;
  }
}

@media only screen and (max-width: 744px) {
  .heading {
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 56px;
    padding-bottom: 56px;
  }
  .text {
    font-size: 40px;
    font-weight: 400;

    letter-spacing: -0.05em;
    text-align: left;
  }
  .para {
    font-size: 20px;
    font-weight: 300;

    letter-spacing: 0em;
    text-align: left;
  }
  .heading2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
  }
  .designSystem {
    height: 228px;
    margin-left: 52px;
    margin-right: 52px;
    padding: 2%;
    max-width: 640px;
    margin-bottom: 10;
    min-height: 132px;
  }
  .cardHighlighted {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
  }
  .text {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
  }
  .card {
    padding-left: 15px;
    line-height: 20px;
  }
}

@media only screen and (max-width: 390px) {
  .heading {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 55px;
    padding-bottom: 55px;
  }
  .btn {
    display: none;
  }
  .para {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
  }
  .text {
    font-size: 36px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: -0.05em;
    text-align: left;
  }
  .heading2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: -0.03em;
    text-align: left;
  }
  .caraouselContainer {
    padding-left: 24px;
  }
  .designContainer {
    display: flex;
    flex-direction: column;
  }
  .cardHighlighted {
    text-align: left;
    border-left: none;
    border-right: none;
    border-top: 1px solid rgba(224, 224, 224, 1);
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    width: 80%;
   
    
  }
  .designSystem {
    max-width: 342px;
    min-height: 284px;
    padding-bottom: 20%;
  }
  .card {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
  }
  .heading3 {
    font-size: 36px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: -0.05em;
    text-align: left;
  }
  .crop_image {
    min-height: 300px;
  }
  .caraouselContainer {
    padding-bottom: 100px;
  }
}
