.caraouselContainer {
  padding-top: 15%;
  padding-bottom: 200px;
  padding-left: 24px;
  padding-bottom: 24px;
  background-color: black;
}
.heading3 {
  font-size: 36px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: -0.05em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
@media screen and (max-width: 391px) {
  .caraouselContainer {
    padding-bottom: 20%;
  }
  .heading3 {
    max-width: 70%;
  }
}
@media screen and (min-width: 392px) and (max-width: 745px) {
  .caraouselContainer {
    padding-left: 52px;
    padding-right: 52px;
    padding-bottom: 15%;
    padding-top: 10%;
  }
}
@media screen and (min-width: 746px) and (max-width: 1025px) {
  .heading3 {
    font-size: 60px;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: -0.05em;
    text-align: center;
  }
  .caraouselContainer {
    padding-left: none;
    padding-right: none;
    padding-bottom: 10%;
    padding-top: 10%;
    justify-content: center;
  }
}
@media screen and (min-width: 1026px) and (max-width: 1441px) {
  .caraouselContainer {
    padding-bottom: 10%;
    text-align: center;
  }
  .heading3 {
    max-width: 100%;
    font-size: 60px;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: -0.05em;
    text-align: center;
  }
}
@media screen and (min-width: 1442px) and (max-width: 1920px) {
  .caraouselContainer {
    padding-top: 100px;
    padding-bottom: 200px;
    background-color: black;
  }
  .heading3 {
    font-family: "Haffer SQ XH";
    font-size: 74px;
    font-weight: 400;
    line-height: 84px;
    letter-spacing: -0.05em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
  }
}
