.contianer {
  font-family: "Haffer SQ XH";
}
.contianerHighlighted {
  border-right: 1px solid rgba(224, 224, 224, 1);
  border-left: 1px solid rgba(224, 224, 224, 1);
}

@media screen and (max-width: 391px) {
  .smallScreenContainer {
    font-family: "Haffer SQ XH";
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 5px;
  }
  .heading {
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    padding-bottom: 20px;
    padding-top: 0px;
    margin-top: 0px;
  }
  .para {
    padding: 0;
    margin: 0;
    text-align: left;
    color: rgba(31, 31, 31, 1);
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
  }
}
@media screen and (min-width: 392px) and (max-width: 745px) {
  .smallScreenContainer {
    font-family: "Haffer SQ XH";
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
  }

  .heading {
    margin-top: 0;
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 5%;
    width: 70%;
  }
  .para {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
    padding-top: 5%;
    padding-bottom: 0%;
  }
}
@media screen and (min-width: 746px) and (max-width: 1025px) {
  .contianer {
    font-family: "Haffer SQ XH";
    min-width: 18%;
    width: 25%;
    padding-left: 2%;
  }
  .contianerHighlighted {
    border-right: 1px solid rgba(224, 224, 224, 1);
    border-left: 1px solid rgba(224, 224, 224, 1);
    padding-left: 5%;
    padding-right: 5%;
    min-width: 20%;
    width: 25%;
  }
  .heading {
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0%;
  }
  .para {
    margin: 0%;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
  }
}
@media screen and (min-width: 1026px) and (max-width: 1441px) {
  .contianer {
    min-width: 235px;
    max-height: 108px;
    padding-left: 2%;
  }
  .contianerHighlighted {
    min-width: 235px;
    padding-left: 2%;

    max-height: 108px;
  }
  .heading {
    padding: 0;
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
  }
  .para {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(51, 51, 51, 1);
  }
}

@media screen and (min-width: 1442px) and (max-width: 1920px) {
  .heading {
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(4, 4, 4, 1);
    margin: 0;
  }
  .para {
    margin: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(51, 51, 51, 1);
  }
  .contianer{
    padding-left: 2%;
    padding-right: 2%;
    min-width: 20%;

  }
  .contianerHighlighted{
    min-width: 20%;
    padding-left: 2%;
    padding-right: 2%;
  }
}
