.crop_image {
  max-width: 400px;
  margin-right: 20px;
  transition: clip-path 0.5s ease;
  clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 60%);
}

.crop_image:hover {
  clip-path: none;
}
.arrowcontainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 1%;
  padding-right: 5%;
}

button {
  cursor: pointer;
  padding: 5px 10px;
  margin-top: 10px;
  font-family: "Haffer SQ XH";
}
.image {
  max-width: 70%;
  margin-right: 20px;
  transition: clip-path 0.5s ease;
}
@media screen and (max-width: 744px) {
  .carousel {
    padding-top: 35px;
    padding-left: 64px;
  }
  .crop_image {
    max-width: 310px;
  }
  .arrowcontainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 5px;
    padding-right: 5%;
  }
}
@media screen and (max-width: 391px) {
  .image {
    min-height: 300px;
  }
}

@media screen and (min-width: 392px) and (max-width: 745px) {
}
@media screen and (min-width: 746px) and (max-width: 1025px) {
  .crop_image{
    
  }
}
@media screen and (min-width: 1026px) and (max-width: 1441px) {
}
@media screen and (min-width: 1442px) and (max-width: 1920px) {
}
