.container {
  background-color: rgba(0, 14, 140, 1);
  padding-left: 24px;
  text-align: start;
  font-family: "Haffer SQ XH";
}
.con {
  padding-top: 5%;
  padding-bottom: 15%;
}
.heading {
  font-size: 32px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: -0.05em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  padding: 0;
}
.para {
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.connectbtn {
  background-color: rgba(0, 14, 140, 1);
  width: 168px;
  height: 56px;
  border: 1px solid rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 100px;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 5%;
}
.imgvector {
  margin-left: 10%;
  overflow: hidden;
}

@media screen and (max-width: 391px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .imgvector {
    display: none;
  }
}

@media screen and (min-width: 392px) and (max-width: 745px) {
  .container {
    padding-left: 54px;
  }
  .con {
    padding-top: 1%;
    padding-bottom: 5%;
  }
  .heading {
    font-size: 32px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: -0.03em;
    text-align: left;
    width: 50%;
    padding: 0;
    margin-bottom: 1%;
  }
  .para {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
    padding: 0%;
  }
  .connectbtn {
    margin-top: 4%;
    text-align: center;
    height: 48px;
  }
  .imgvector {
    display: none;
  }
}
@media screen and (min-width: 746px) and (max-width: 1025px) {
  .container {
    display: flex;
    flex-direction: row;
    padding-right: 5%;
  }
  .con {
    padding-left: 10%;
    max-width: 40%;
    padding-bottom: 5%;
    padding-top: 5%;
  }

  .heading {
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: -0.05em;
    text-align: left;
    padding-top: 0;
    margin-top: 0;
  }
  .para {
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: start;
  }
  .connectbtn {
    text-align: center;
  }
  .imgvector {
  }
}
@media screen and (min-width: 1026px) and (max-width: 1441px) {
  .container {
    display: flex;
    flex-direction: row;
    padding-right: 10%;
    height: 20%;
  }

  .con {
    max-width: 60%;
    padding-left: 10%;
    padding-top: 0%;
    padding-bottom: 5%;
  }
  .heading {
    font-size: 48px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -0.05em;
    text-align: left;
    max-width: 80%;
  }
  .para {
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
  }
}
@media screen and (min-width: 1442px) and (max-width: 1920px) {
  .container {
    background-color: rgba(0, 14, 140, 1);
    padding-left: 10%;
    text-align: start;
    display: flex;
    flex-direction: row;
    font-family: "Haffer SQ XH";
  }
  .con {
    padding-top: 5%;
    max-width: 50%;
    padding-bottom: 5%;
  }
  .heading {
    margin: 0%;
    font-size: 60px;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: -0.05em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
  }
  .para {
    margin-top: 2%;
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(224, 224, 224, 1);
  }
  .connectbtn {
    background-color: rgba(0, 14, 140, 1);
    width: 168px;
    height: 56px;
    border: 1px solid rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 100px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 5%;
  }
  .imgvector {
    margin-left: 10%;
    overflow: hidden;
  }
}
