.App {
  text-align: center;
  /* background-color: black; */
  margin:  0%;
  padding: 0;
  width: 100%;
  overflow-x: hidden;

}
@font-face {
  font-family: 'Haffer SQ XH';
  src: url('../src/fonts/DP_haffer-xh_TRIAL/HafferSQTRIALVF.ttf') format('truetype');
}
