.footer {
  background-color: rgba(4, 4, 4, 1);
  padding-top: 10%;
  margin: 0;
  padding-bottom: 5%;
  border-top: 2px solid rgba(31, 31, 31, 1);
  border-bottom: 2px solid rgba(31, 31, 31, 1);
  font-family: "Haffer SQ XH";
}
.socialMedia {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.socialMediaText {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.cont1 {
  padding-left: 162px;
  display: block;
  flex-direction: column;
  max-width: 338px;
  text-align: left;
  padding-top: 5%;
}
.address {
  padding-top: 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  max-width: 280px;
  max-height: 67px;
}
.map {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  padding-top: 3%;
  border-bottom: 1px solid white;
  width: max-content;
}
.menuList {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}
.cont2 {
  margin-left: 100px;
  padding-top: 5%;
}
.cont3 {
  margin-left: 100px;
  padding-top: 5%;
}
.cont4 {
}
.contact {
  padding: 0;
  margin: 0%;
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.domain {
  
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(163, 163, 163, 1);
}
.copyright {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(163, 163, 163, 1);
  padding-top: 0%;
}
.line {
  margin-top: 4%;
  background-color: rgba(31, 31, 31, 1);
  height: 2px; /* Set the height of the hr */
  border: none; /* Remove the default border */
}

@media screen and (max-width: 391px) {
  .socialMediaText {
    width: 50%;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 5px;
  }
  .socialMedia {
    justify-content: space-between;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 80%;
    /* padding-top: 10%;
    padding-bottom: 10%; */
  }
  .footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 5%;
    padding-right: 10%;

  }
  .logofooter {
    max-width: 240px;
    padding-left: 0px;
    margin-left: -24px;
  }

  .menuList {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
  }
  .add {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    padding-top: 10%;
  }
  .map {
    font-size: 14px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
  }
  .copyright {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }
  .contact {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    flex-wrap: wrap;
    flex-direction: row;
    color: rgba(163, 163, 163, 1);
  }
  .domain {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
  }
  .address {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(163, 163, 163, 1);
  }
}
@media screen and (min-width: 392px) and (max-width: 632px) {
  .socialMediaText {
    width: 50%;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 5px;
  }
  .socialMedia {
    justify-content:start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 0px;
    padding-right: 5%;
  }
  .footer {
    display: flex;
    flex-direction: column;
    padding-left: 24px;

  }
  .logofooter {
    max-width: 240px;
    padding-left: 0px;
    margin-left: -24px;
  }

  .menuList {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
  }
  .add {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    padding-top: 10%;
  }
  .map {
    font-size: 14px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
  }
  .copyright {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }
  .contact {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(163, 163, 163, 1);
  }
  .domain {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
  }
  .address {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(163, 163, 163, 1);
  }
}

@media screen and (min-width: 633px) and (max-width: 745px) {
  .footer {
    background-color: rgba(4, 4, 4, 1);
    padding-top: 50px;
    flex-wrap: wrap;
    padding-bottom: 5%;


  }
  .cont1 {
    padding-left: 10%;
    flex-wrap: wrap;

  }
  .con2 {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 0;
    padding-bottom: 0;
    flex-wrap: wrap;

  }
  .cont3 {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 450px;
    margin-top: 0;
    padding-top: 0;
    flex-wrap: wrap;

  }
  .cont4updated {
    position: absolute;
    margin-top: 40%;
    padding-left: 65px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

  }
  .cont42 {
    padding-top: 5%;
    padding-left: 0;
  }
  .address {
    margin: 0;
    width: 344px;
    height: 83px;
    color: rgba(163, 163, 163, 1);
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
  }
  .map {
    font-size: 14px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
  }
  .socialMediaText {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
  }
  .socialMedia {
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .line {
    margin-top: 12%;
  }
  .copyright {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(163, 163, 163, 1);
    padding-left: 64px;
  }
  .logofooter{
    margin-left: -27px;
  }
  .contact {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
  }
  .domain {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 746px) and (max-width: 1025px) {
  .footer {
    background-color: rgba(4, 4, 4, 1);
    flex-wrap: wrap;
  }
  .socialMedia{
    padding-left: 5%;
    padding-right: 5%;
  }

  .socialMediaText {
    font-size: 24px;
    font-weight: 300;
  }
  .cont1 {
    padding-left: 2%;
    display: block;
    flex-direction: column;
    max-width: 338px;
    text-align: left;
    padding-top: 5%;
  }

  .address {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 5%;

  }
  .map {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 5%;

  }
  .menuList {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
  }
  .cont2 {
    min-width: 108px;
    margin-left: 100px;
    padding-top: 7%;
  }
  .cont3 {
    min-width: 147px;
    margin-left: 100px;
    padding-top: 7%;
  }
  .cont4 {
    padding-left: 162px;
      }
  .cont4updated {
    padding-left: 4%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
  }
  .contact {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
  }
  .domain {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .copyright {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 4%;
  }
  .line {
    margin-top: 4%;
    background-color: rgba(31, 31, 31, 1);
    height: 2px; /* Set the height of the hr */
    border: none; /* Remove the default border */
  }
  .cont42 {
    padding-left: 100px;
  }
}
@media screen and (min-width: 1026px) and (max-width: 1283px) {
  .footer {
    background-color: rgba(4, 4, 4, 1);
    padding-top: 100px;
    margin: 0;
    padding-bottom: 2%;
    border-top: 2px solid rgba(31, 31, 31, 1);
    border-bottom: 2px solid rgba(31, 31, 31, 1);
    font-family: "Haffer SQ XH";
  }
  .socialMedia {
    padding-left: 162px;
    padding-right: 162px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .socialMediaText {
    font-size: 36px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
  }
  .cont1 {
    padding-left: 162px;
    display: block;
    flex-direction: column;
    max-width: 338px;
    text-align: left;
    padding-top: 5%;
  }

  .address {
    padding-top: 0;
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    max-width: 280px;
    max-height: 67px;
  }
  .map {
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    padding-top: 3%;
  }
  .menuList {
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
  }
  .cont2 {
    margin-left: 100px;
    padding-top: 5%;
  }
  .cont3 {
    margin-left: 100px;
    padding-top: 5%;
  }
  .cont4 {
    padding-top: 6.5%;
    margin-left: 5%;
    padding-left: 7%;
  }
  .contact {
    padding: 0;
    margin: 0%;
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
  }
  .domain {
    margin: 0%;

    padding: 0%;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(163, 163, 163, 1);
  }
  .copyright {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(163, 163, 163, 1);
    padding-left: 10%;
    padding-top: 0%;
  }
  .line {
    margin-top: 4%;
    background-color: rgba(31, 31, 31, 1);
    height: 2px; 
    border: none; 
  }
}
@media screen and (min-width: 1284px) and (max-width: 1441px) {
  .footer {
    background-color: rgba(4, 4, 4, 1);
    padding-top: 100px;
    margin: 0;
    padding-bottom: 2%;
    border-top: 2px solid rgba(31, 31, 31, 1);
    border-bottom: 2px solid rgba(31, 31, 31, 1);
    font-family: "Haffer SQ XH";
  }
  .socialMedia {
    padding-left: 162px;
    padding-right: 162px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .socialMediaText {
    font-size: 36px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
  }
  .cont1 {
    padding-left: 162px;
    display: block;
    flex-direction: column;
    max-width: 338px;
    text-align: left;
    padding-top: 5%;
  }

  .address {
    padding-top: 0;
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    max-width: 280px;
    max-height: 67px;
  }
  .map {
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    padding-top: 3%;
  }
  .menuList {
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
  }
  .cont2 {
    margin-left: 100px;
    padding-top: 5%;
  }
  .cont3 {
    margin-left: 100px;
    padding-top: 5%;
  }
  .cont4 {
    padding-top: 6.5%;
    margin-left: 5%;
  }
  .contact {
    padding: 0;
    margin: 0%;
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
  }
  .domain {
    margin: 0%;

    padding: 0%;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(163, 163, 163, 1);
  }
  .copyright {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(163, 163, 163, 1);
    padding-left: 10%;
    padding-top: 0%;
  }
  .line {
    margin-top: 4%;
    background-color: rgba(31, 31, 31, 1);
    height: 2px; 
    border: none; 
  }
}
@media screen and (min-width: 1442px) and (max-width: 1920px) {
  .footer {
    background-color: rgba(4, 4, 4, 1);
    padding-top: 100px;
    margin: 0;
    padding-bottom: 2%;
    border-top: 2px solid rgba(31, 31, 31, 1);
    border-bottom: 2px solid rgba(31, 31, 31, 1);
    font-family: "Haffer SQ XH";
  }
  .socialMedia {
    padding-left: 162px;
    padding-right: 162px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .socialMediaText {
    font-size: 36px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
  }
  .cont1 {
    padding-left: 162px;
    display: block;
    flex-direction: column;
    max-width: 338px;
    text-align: left;
    padding-top: 5%;
  }
  .logofooter {
    /* width: 288.91px;
    height: 46.72px;
    padding: 0px, 0px, 0px, 0px; */
  }
  .address {
    padding-top: 0;
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    max-width: 280px;
    max-height: 67px;
  }
  .map {
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    padding-top: 10%;
  }
  .menuList {
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
  }
  .cont2 {
    margin-left: 100px;
    padding-top: 5%;
  }
  .cont3 {
    margin-left: 100px;
    padding-top: 5%;
  }
  .cont4 {
    padding-top: 6.5%;
    margin-left: 5%;
  }
  .contact {
    padding: 0;
    margin: 0%;
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
  }
  .domain {
    margin: 0%;

    padding: 0%;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(163, 163, 163, 1);
  }
  .copyright {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(163, 163, 163, 1);
    padding-left: 162px;
    padding-top: 0%;
  }
  .line {
    margin-top: 4%;
    background-color: rgba(31, 31, 31, 1);
    height: 2px; /* Set the height of the hr */
    border: none; /* Remove the default border */
  }
  
}